{% extends "base.html" %}
{% block title %}Registration to your personal blog{% endblock title %}

{% block content %}
    <h2>Registration</h2>
    <form action="/register" method="POST">
        <label>Username:</label><br>
        <input type="text" name="username"><br>
        <label>Password:</label><br>
        <input type="password" name="password"><br>
        <label>Repeat your password:</label><br>
        <input type="password" name="password_repeated"><br>
        <input type="submit" value="Register">
    </form>
{% endblock content %}